@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23dedddf' fill-opacity='0.22'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: -10;
}

:root {
  --amplify-primary-color: rgba(55, 65, 81);
  --amplify-primary-tint: rgba(55, 65, 81);
  --amplify-primary-shade: rgba(55, 65, 81);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.filter-image {
  filter: brightness(30%);
}

.contain {
  @apply px-12 md:px-32 lg:px-44 3xl:px-96 4xl:px-30rem;
}

.nav-item {
  @apply text-gray-300 hover:underline hover:text-white px-3 py-2 rounded-md text-sm lg:text-base uppercase my-auto;
}

.mobile-nav-item {
  @apply text-gray-200 hover:underline hover:text-white uppercase;
}

.neg-z-index {
  z-index: -1;
}

.z-index-0 {
  z-index: 0;
}